# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\my files\ubc\2021summer\CPSC304\tutorial\CPSC304-JavaDemo\CPSC304-JavaDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
